header.header
    .container-fluid
        .row.align-items-center.justify-content-between
            .col-xl-3.col-lg-4.col-md-4.col-sm-4.col-4.text-top
                .header__logo
                    a(href="/") 
                        img(src=settingGeneral.logo ? settingGeneral.logo : "/client/images/logo.png", alt="logo")
            .col-xl-5.col-lg-4.col-md-4.col-sm-4.col-4.text-top
                .header__nav
                    ul.dislay-flex.flex-direction-row
                        li
                            a(href="/topics") Topics
                        li
                            a(href="/songs") Songs
                        li
                            a(href="/playlist") Playlist
            .col-4.col-lg-4.col-md-4.col-sm-4.col-4.text-top
                .header__login
                    .header__icon 
                        i(class="fa-solid fa-arrow-right")
                    if(user)
                        a(href="/user/info") Profile
                    else 
                        a(href="/user/login") Login