.container-fluid {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Alert  */
.alert-user  {
  background: #ffffc4;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.alert-user:not([show-alert]) {
  display: none;
}

.alert-user-success {
  background: #c4ffc4;
  color: #000;
}

.alert-user-error {
  background: #ffc4c4;
  color: #000;
}
.alert span {
  display: none;
}

[show-alert] span {
  display: inline-block;
}

[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
  display: flex;
}

[show-alert].alert-hidden {
  animation: alert-hidden 0.5s both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }

  to {
    right: -100%;
  }
}

[show-alert] [close-alert] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  background: #ffffc4;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/* End Alert  */

* {
  scrollbar-width: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

body {
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
  padding-top: 200px;
  scrollbar-width: none;
}

body {
  opacity: 0;
  transition: opacity 1.5s ease-in-out; /* 1.5s là thời gian hiệu ứng */
}

body.loaded {
  opacity: 1;
}
/* Preview Anh  */
div[upload-image] div {
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid var(--dark-purple);
  border-radius: 50%;
  position: relative;
  display: none;
}

div[upload-image] div[update] {
  display: block;
}

div[upload-image] div img {
  width: 100%;
  height: 100%;
  display: inline-block;
  object-fit: cover;
  border-radius: 50%;
}

img[upload-image-preview] + span {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  top: -10px;
  right: -40px;
  border-radius: 0 50% 0 50%;
  border: 1px solid #ddd;
}
/* End Preview Anh */
/* Page 404  */
.container:has(.page404) {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page404 {
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page404 h1 {
  font-family: "Workhorse", cursive;
  margin-bottom: 30px;
}

.page404 button {
  display: inline-block;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  background: var(--light-purple);
  color: #fff;
  transition: 0.6s;
}

.page404 button:hover {
  cursor: pointer;
  background: var(--dark-purple);
}
/* End Page 404  */