extends ../../layouts/formUser.pug
include ../../mixins/alert.pug

block main 
    +error-alert(5000)
    div(class="alert-user alert-user-success" data-time=5000)
    div(class="alert-user alert-user-error" data-time=5000)
    .container-fluid.d-flex.justify-content-center.align-items-center
       .containerForm
         .ballon-top           
         form(action=`/user/password/forgot` method="POST" autocomplete="off" class="form form-forgot-password")
          h1(class='text-center') Xác thực email
          div
            label(for="email") Email:
            input(type="text" id="email" name="email" required)
          div
            label(for="otp" class="d-block") Mã OTP:
            input(type="text" class="w-7" id="otp" name="otp" minlength="8" maxlength="8")
            button(type="button" btn-otp class="w-3") Gửi OTP
          div
            button(type="submit") Xác nhận
          .button-sub
            a(href='/user/login') Đăng nhập
            a(href='/user/password/forgot') Quên mật khẩu?
         .ballon-bottom 