extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +success-alert(5000)
    +error-alert(5000)
    .topic__container 
        .topic__title 
            p 
                span with 
                span <i>p</i>assion 

            p   
                span and 
                span <i>p</i>urpose
        .topic__content
            if(topic)
                    a(class="topic__card" href=`/songs/${topic._id}`)
                        img(class="topic_img" src=topic.avatar)
                        div(class="topic__title--small")=topic.title
