extends ../../layouts/default.pug

block main 
    .container 
        .row
            .col-12.col-lg-12.col-md-12 
                .dashboard 
                    .dashboard__content
                        p
                            span
                                i U
                            span nleash 
                            span the Rhythm
                        .dashboard__animation
                            div 
                                <i class="fa-brands fa-facebook"></i>
                            div 
                                <i class="fa-brands fa-instagram"></i>
                            div
                                <i class="fa-brands fa-discord"></i>
                            div 
                                <i class="fa-brands fa-tiktok"></i>
                            div 
                                <i class="fa-brands fa-linkedin"></i>
                            div
                                <i class="fa-brands fa-twitter"></i>
                            div 
                                <i class="fa-brands fa-youtube"></i>
                            div 
                                <i class="fa-brands fa-spotify"></i>
                            div
                                <i class="fa-brands fa-soundcloud"></i>
                            div 
                                <i class="fa-brands fa-apple"></i>
                            div 
                                <i class="fa-brands fa-google"></i>
                            div
                                <i class="fa-brands fa-amazon"></i>
                        p 
                            span 
                                i E
                            span levate 
                            span Your Vibes!
                    .dashboard__desc 
                        p I will blow your mind
        .row 
            .col-12.col-lg-12.col-md-12
                .introduction 
                    p.introduction__desc
                        span.introduction__desc--in From 
                        span.introduction__desc--img
                            span.window 
                                img(src="client/images/phonk.png", alt="brand")
                        span.introduction__desc--in  Phonk +

                    p.introduction__desc
                        span.introduction__desc--in Game 
                        span.split
                        span.introduction__desc--in Soundtracks 
                        span.introduction__desc--img
                            span.window 
                                img(src="client/images/ori.png", alt="brand")
                        span.introduction__desc--in  to

                    p.introduction__desc
                        span.introduction__desc--in Iconic 
                        span.introduction__desc--img
                            span.window 
                                img(src="client/images/asuka.png", alt="brand")
                        span.introduction__desc--in  Anime

                    p.introduction__desc
                        span.introduction__desc--in Tracks,
                        span.split
                        span.introduction__desc--in we 
                        span.split
                        span.introduction__desc--in select

                    p.introduction__desc
                        span.introduction__desc--in the 
                        span.introduction__desc--img
                            span.window 
                                img(src="client/images/flowerOfEvil.png", alt="brand")
                        span.introduction__desc--in  <i>m</i>ost

                    p.introduction__desc
                        span.introduction__desc--in authentic 
                        span.split
                        span.introduction__desc--in sounds

                    p.introduction__desc
                        span.introduction__desc--in to 
                        span.split
                        span.introduction__desc--in partner 
                        span.split
                        span.introduction__desc--in with 

                    p.introduction__desc
                        span.introduction__desc--in your 
                        span.introduction__desc--img
                            span.window 
                                img(src="client/images/rei.png", alt="brand")            
                        span.introduction__desc--in  <i>B</i>rand
        .row 
            .col-12.col-lg-12.col-md-12
                .feature 
                    .feature__title
                        span Feature Songs 
                    .feature__scroll
                        if(songs)
                         each song in songs
                            a(href=`/song/${song.id}` class='feature__box') 
                                .feature__img 
                                    img(src=`${song.avatar ? song.avatar : ''}`, alt="song")
                                .feature__desc 
                                    h4 #{song.title}
                                    p #{song.singer ? song.singer : ''}